body {
    background-color: #000000;
    font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
    color: #00ff00;
}

.download-button {
    padding: 10px 20px;
    background-color: #00cc00;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 20px;

}

p {
    color: #00ff00;
    text-align: left;
}

.subtitulo {
    color: #00ff00;
    background-color: #000000;
    position: sticky;
    font-size: 50px;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
}

div {
    color: #00ff00;
    text-align: center;
    margin-top: 50px;
}

.logo {
    display: block;
    max-width: 300px;
    height: auto;
    width: auto;
}

.recommendation {
    font-size: 1.4rem;
    color: #d61717;
    text-align: center;
}

pre {
    background-color: #000000;
    color: #14eca4;
    padding: 10px;
    font-size: 1.2rem;
}

header {
    text-align: center;
    margin-top: 20px;
}

.comeco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}